{% extends 'base.html' %}


{% block title %}
Главная страница
{%endblock%}


{% block content %}
<h1>О проекте:</h1>
<p>Этот сайт был сделан исключительно с развлекательной целью.
    Тут мы с ребятами будем сравнивать свой личностный рост и жизненный прогресс между собой.</p>

<div class="row mb-2">
    <h1>Список сфер, по которым будет проходить сравнение: </h1>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Игры</strong>
                <h3 class="mb-0">В этом разделе</h3>
                <p class="card-text mb-auto">Мы будем сравнивать игровые достижения по различным играм.</p>
                <a href="/game" class="stretched-link">Подробнее</a>
            </div>
            <div class="col-auto d-none d-lg-block">

                <img src="https://www.ixbt.com/img/n1/news/2020/5/1/02ab2825469425b9_1920xH_large.jpg" alt="Game"
                     style="width:100%">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">IT</strong>
                <h3 class="mb-0">Туть</h3>
                <p class="mb-auto">Мы будем рассматривать проекты друг друга, делиться опытом, помогать.</p>
                <a href="/it" class="stretched-link">Подробнее</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://images.wallpaperscraft.ru/image/single/kod_programmirovanie_it_152538_1920x1080.jpg" alt=""
                     style="width:100%">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Карьера</strong>
                <h3 class="mb-0">Туть</h3>
                <p class="mb-auto">Будет рассматриваться результат карьерных достижений, успехов в бизнесе.</p>
                <a href="/rabota" class="stretched-link">Подробнее</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://cdnn21.img.ria.ru/images/07e5/0a/12/1755020456_0:57:2000:1183_1920x0_80_0_0_916fc9eb79dbffce682483e2534c7989.jpg"
                     alt="" style="width:100%">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Спорт</strong>
                <h3 class="mb-0">Туть</h3>
                <p class="mb-auto">Будут рассматриваться спортивные результаты, если они есть:)</p>
                <a href="/sport" class="stretched-link">Подробнее</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="https://s1.1zoom.ru/b6951/382/Skiing_Winter_Men_Snow_Sun_Helmet_Jacket_514545_1920x1080.jpg" alt=""
                     style="width:100%">
            </div>
        </div>

    </div>
</div>
{%endblock%}


