{% extends 'base.html' %}

{% block title %}
    Дмитрий Петрович
{%endblock%}


{% block content %}
    <div class="alert alert-danger"><h1>Дмитрий Петрович</h1></div>
    <div class="row row-cols-2">
        <div class="col-md-1 offset-0">
            <img src="https://sun9-33.userapi.com/impg/aztzhrRKli-TclWvAm7kPJoCkgBH04UaiLaDiA/o4QyZ5xyJII.jpg?size=720x960&amp;quality=95&amp;sign=d25b4875814cbeb353b435a1b2c6b9c5&amp;type=album" style="border-radius: 200px; border: 3px solid black; box-shadow: 0 0 7px #666; max-width: 450px; max-height: 350px;">
        </div>
        <div class="container col-9">
            <div class="col-9 offset-5">
                <h3>Уничтожитель Warhammer 40k, хотел бы я его так назвать, но он не вывез 1в2! Очень занимательный парень, способный многого добиться и совершить, если проработает свой характер.
                Если вы хотите себе трезвого водителя, звоните +375 29 620-41-62. Ты думаешь, что он ничего в своей жизни не достиг? Попроси его открыть свой акк в RAID.
                </h3>
            </div>
        </div>
    </div>
{%endblock%}

