{% extends 'base.html' %}

{% block title %}
    IT
{%endblock%}

{% block content %}
<a class="btn btn-warning" href="/create-it">Создать проект</a>
    <div class="container mt-5">
      <h1>Список проектов</h1>
      {% if its|length > 0 %}
        <div class="container">
          <div class="alert alert-info">
            {% for el in its %}
            <h1>{{ el.username }}</h1>
              {{ el.project }}
              ({{ el.reference }})
            <h4><b>Дата регистрации: {{ el.date.date() }}</b></h4>
            <div class="container">
              <h3>{{ el.about_project }}</h3>
            </div>
            <a href="/it/{{ el.id }}" class="btn btn-warning">Подробнее</a>

            {%endfor%}

          </div>
      {% else %}
          <p>У нас пока нет ни одной записи</p>
      {%endif%}

      </div>

    </div>
{%endblock%}