{% extends 'base.html' %}

{% block title %}
    Стеф
{%endblock%}


{% block content %}
    <div class="alert alert-danger"><h1>Стеф</h1></div>
    <div class="row row-cols-2">
        <div class="col-md-1 offset-0">
            <img src="https://sun9-33.userapi.com/impg/PRW4zbo4pyS3_li4dP92Yrh_vZdHP-Gi2C4gZQ/hIt-KLgXiPM.jpg?size=810x1080&amp;quality=95&amp;sign=aafd4360d62da7d627f9e7f41e94affa&amp;type=album" style="border-radius: 200px; border: 3px solid black; box-shadow: 0 0 7px #666; max-width: 450px; max-height: 350px;">
        </div>
        <div class="container col-9">
            <div class="col-9 offset-5">
                <h3>Напористый, упрямый в некоторых случаях. Позитивный человек, который слушает деприссивную музыку, если ты такой же то вы на одной волне.
                Изо дня в день ищет новые пути движения, развития себя, совершенства. Одержим играми, поэтому если хотите, чтоб он продуктивно занимался делами, не давайте ему играть!
                В целом очень амбициозный и целеустремленный парень, опять же если бы не игры...</h3>
            </div>
        </div>
    </div>
{%endblock%}

